:root {
  /* Primary */
  --clr-primary-red: hsl(0, 100%, 67%);
  --clr-primary-yellow: hsl(39, 100%, 56%);
  --clr-primary-teal: hsl(166, 100%, 37%);
  --clr-primary-blue: hsl(234, 85%, 45%);

  /* Primary with Transparency for Background (bg)*/
  --clr-bg-red: hsla(0, 100%, 67%, .07);
  --clr-bg-yellow: hsla(39, 100%, 56%, .07);
  --clr-bg-teal: hsla(166, 100%, 37%, .07);
  --clr-bg-blue: hsla(234, 85%, 45%, .07);

  /* Gradient */
  --clr-gradient-bg-slate-blue: hsl(252, 100%, 67%);
  --clr-gradient-bg-royal-blue: hsl(241, 81%, 54%);
  --clr-gradient-circle-violet-blue: hsla(256, 72%, 46%, 1);
  --clr-gradient-circle-persian-blue: hsla(241, 72%, 46%, .2);

  /* Neutral */
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-pale-blue: hsl(221, 100%, 96%);
  --clr-neutral-lavender: hsl(241, 100%, 89%);
  --clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);

  /* Font Weights */
  --font-medium: 500;
  --font-bold: 700;
  --font-extra-bold: 800;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}

body p {
  font-size: 18px;
}

/* Mobile-First (width = 375px) */
.container {
  width: 375px;
  height: 800px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
}

.results,
.summary {
  display: flex;
  flex-direction: column;
}

.results {
  height: 46%; /* 40% of the parent (container) */
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(var(--clr-gradient-bg-slate-blue), var(--clr-gradient-bg-royal-blue));
  color: var(--clr-neutral-white);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: var(--clr-neutral-lavender);
}

.result {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--clr-gradient-circle-violet-blue), var(--clr-gradient-circle-persian-blue));
}

.result p {
  text-align: center;
  font-size: 16px;
}

.result p span {
  display: block;
  font-size: 50px;
  font-weight: var(--font-bold);
  color: var(--clr-neutral-white);
}

.result-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.result-description h2 {
  color: var(--clr-neutral-white);
}

.result-description p {
  text-align: center;
  color: var(--clr-neutral-lavender);
  font-weight: 400;
  font-size: 16px;
  width: 80%;
}

.summary {
  padding: 30px;
}

.summary h3 {
  padding-bottom: 15px;
  color: var(--clr-neutral-dark-gray-blue);
}

.score-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.score-bar p {
  font-size: 15px;
}

.score-bar:not(:last-child) {
  margin-bottom: 15px;
}

.score-icon-title {
  display: flex;
  font-size: 15px;
}

.score-icon-title p {
  padding-left: 10px;
}

#reaction {
  color: var(--clr-primary-red);
}

#memory {
  color: var(--clr-primary-yellow);
}

#verbal {
  color: var(--clr-primary-teal);
}

#visual {
  color: var(--clr-primary-blue);
}

.score-bar[data-score="reaction"] {
  background-color: var(--clr-bg-red);
}

.score-bar[data-score="memory"] {
  background-color: var(--clr-bg-yellow);
}

.score-bar[data-score="verbal"] {
  background-color: var(--clr-bg-teal);
}

.score-bar[data-score="visual"] {
  background-color: var(--clr-bg-blue);
}

.score {
  color: gray;
}

.score span {
  color: var(--clr-neutral-dark-gray-blue);
}

button {
  padding: 15px;
  border: none;
  border-radius: 50px;
  background-color: var(--clr-neutral-dark-gray-blue);
  color: var(--clr-neutral-white);
  font-size: 18px;
  font-family: inherit;
}